*~
*.o
*.pyc
*.pyo
*.so
*_wrapper.c
*.el
*.s
*.mod

code/binary
code/knapsack
code/transpose
code/arithmetic
code/add_and_square

*.aux
*.toc
*.log
*.nav
*.out
*.snm
slides_src/computers-tutorial.pdf
